name: Pytest

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:

    - name: Install missing lib
      run: sudo apt-get update && sudo apt-get install libglu1-mesa

    - uses: actions/checkout@v2
    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: 3.11

    - name: Install gmshairfoil2d with pip
      shell: bash -l {0}
      run: pip install -e .

    - name: Run pytest
      shell: bash -l {0}
      run: pytest -v .

    - name: Run gmshairfoil2d
      run: |
        gmshairfoil2d --airfoil e211 --aoa 8 --box 12x4 --format vtk
        ls

  build-windows:
    runs-on: windows-2022
    strategy:
      max-parallel: 5

    steps:

    - uses: actions/checkout@v2
    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: 3.11

    - name: Install gmshairfoil2d with pip
      shell: bash -l {0}
      run: pip install -e .

    - name: Run pytest
      shell: bash -l {0}
      run: pytest -v .

    - name: Run gmshairfoil2d
      run: |
        gmshairfoil2d --airfoil e211 --aoa 8 --box 12x4 --format vtk
        dir
